@media(max-width:1200px){
    header h1{
        font-size: 16px;
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-content{
        width: 100%;
        align-items: center;
        margin-bottom: 15%;
    }
    .main-content.tetx, .projetos{
        text-align: center;
    }
     .main-content.tetx, .p{
        width: 100%;
        font-size: 12px;
     }
     .main-content.textp, .projetos.card
     {
        margin-top: 35px;
     }
}
@media (max-width: 700px){
        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        header h1{
            font-size: 32px;
        }
        header nav{
            margin-top: 24px;
        } 
        header nav a {
            font-size: 16px;
        }
        main .main-content .projetos .card{
            width: 80px;
            height: 80px;
            margin-top: 20px;
        }
        main .main-content h2{
            font-size: 1.8em;
        }
        main figure img{
            width: 250px;
            height: 250px;
        }
     }